@use "sass:color";
@use "../theme.scss";


#bluetooth {
    &-controls {
      padding-bottom: 8px;
    }

    &-device {
      background-color: theme.$background-highlight;
      border-radius: 16px;
      padding: 4px;
      margin-bottom: 4px;
    }

    &-scan,
    &-toggle {
      background-color: theme.$background-highlight;
      color: theme.$text-color;
      border-radius: 16px;
      padding: 8px 16px;
      min-width: 96px;

      label {
        font-weight: bold;
      }

      &:hover {
        background-color: color.scale(theme.$background-element, $lightness: 10%);
        border-color: color.scale(theme.$accent-color, $alpha: -70%);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      }

      // Active/pressed effect
      &:active {
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      }
    }

    &-toggle {
      &.enabled {
        color: theme.$background-base;
        background-color: theme.$accent-success;
      }
      &.disabled {
        color: theme.$background-base;
        background-color: theme.$accent-error;
      }
    }

    &-text {
      font-weight: bold;
      color: theme.$text-color;
    }

    &-connection {
      font-size: 20px;
    }

    &-connect {
      background-color: theme.$background-element;
      color: theme.$text-color;
      border-radius: 16px;
      padding: 8px 16px;

      &:hover {
        background-color: color.scale(theme.$background-element, $lightness: 10%);
        border-color: color.scale(theme.$accent-color, $alpha: -70%);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      }

      // Active/pressed effect
      &:active {
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      }
    }
  }