@use "sass:color";
@use "../theme.scss";
@use "../common/mixins.scss";

#clipboard-history {
  background-color: theme.$background-dark;
  border-radius: 16px;
  padding: 12px;
}

#clipboard-search-entry {
  font-weight: 500;
  background-color: theme.$background;
  color: theme.$text-main;
  border-radius: 15px;
  padding: 10px;
  
  selection {
    color: theme.$background;
    background-color: theme.$accent-lavender;
  }
}

#clipboard-close-button {
  background-color: theme.$background;
  border-radius: 15px;
  padding: 10px 13px;

  &:hover,
  &:focus {
    background-color: theme.$accent-red;
  }

  &:active {
    background-color: theme.$accent-red;
  }
}

#clipboard-scrolled-window {
  border-radius: 16px;

  scrollbar {
    border-radius: 10px;
    background-color: theme.$background-dark;
    padding: 4px;
    margin-left: 6px;
  }

  slider {
    border-radius: 8px;
    min-width: 8px;
    min-height: 48px;
    background-color: theme.$accent-lavender;
  }
}

#clipboard-item-button {
  border-radius: 10px;
  transition: padding 0.25s cubic-bezier(0.5, 0.25, 0, 1);
  animation: loadSlot 0.5s ease;
  background-color: theme.$background;
  padding: 10px;

  @keyframes loadSlot {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &:hover,
  &:focus,
  &:selected,
  &.selected,
  &:active {
    background-color: theme.$app-l-item-focus;
    padding-left: 24px;

    #clipboard-item-label {
      color: theme.$app-l-item-focus-label;
    }
  }
}
