@use "sass:color";
@use "../theme.scss";
@use "../common/mixins.scss";
@use "../variable.scss";


#date-notification {
  @include mixins.floating-widget;
  @include mixins.spacing;

  #notification-column {
    min-width: 410px;
    min-height: 400px;

    .header {
      margin-bottom: variable.$spacing;
      margin-right: variable.$spacing;

      label {
        @extend %smaller;
        padding-left: 1.5 * variable.$padding;
        padding-right: 1 * variable.$padding;
      }

      #notification-switch {
        transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
        margin: 4px 0;
        border-radius: 9999px;
        background-color: theme.$dnm-dnd-switch;
        background-clip: padding-box;
        font-size: 0;
        color: transparent;

        slider {
          transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
          min-width: 14px;
          min-height: 14px;
          margin: 2px;
          border-radius: 9999px;
          outline: none;
          background-color: theme.$dnm-dnd-switch-circle;
          border: none;
          color: transparent;
        }

        &:checked {
          background-color: theme.$dnm-dnd-switch-active;

          slider {
            background-color: theme.$dnm-dnd-switch-circle-active;
          }
        }

        &:disabled {
          opacity: 0.5;
        }
      }

      #clear-button {
        padding: variable.$padding * 0.5 variable.$padding;
        border: variable.$border;
        border-radius: variable.$radius;
        background-color: theme.$dnm-clear-btn;
        margin-right: 5px;
        border-width: 2px;

        label {
          padding-left: 5px;
        }

        &:hover {
          background-color: theme.$dnm-clear-btn-hover;

          #clear-icon {
            @extend %clear_icon;
          }
        }
      }
    }

    .notification-scrollable {
      .notification-list {
        margin-right: variable.$spacing;
      }

      .placeholder {
        image {
          font-size: 7em;
          margin-bottom: 10px;
        }

        label {
          font-size: 1em;
        }
      }
    }
  }

  separator {
    background-color: theme.$dnm-separator-color;
    border-radius: variable.$radius;
    margin-right: variable.$spacing;
  }

  .date-column {
    .clock-box {
      padding: variable.$padding;

      .clock {
        color: theme.$dnm-clock-color;
        font-size: 4.5em;
      }

      .uptime {
        color: theme.$dnm-uptime-color;
      }
    }

    .calendar {
      @extend %widget;
      background-color: theme.$dnm-calendar-background;

      padding: variable.$padding * 2 variable.$padding * 2 0;

      calendar {
        all: unset;

        &.button {
          transition: 200ms;
          border-radius: variable.$radius;
          color: theme.$dnm-arrow-button-color;
        }

        &:hover {
          color: theme.$dnm-arrow-button-hover-color;
        }

        &:selected {
          color: theme.$dnm-selected-color;
          box-shadow:
            inset 0 -5px 0 0 theme.$dnm-selected-highlight-color,
            inset 0 0 0 1px theme.$dnm-selected-highlight-color;
          border-radius: variable.$radius * 0.6;
        }

        &.header {
          background-color: transparent;
          border: none;
          color: theme.$dnm-month-year-color;
        }

        &.highlight {
          background-color: transparent;
          color: theme.$dnm-weekdays-color;
        }

        &:indeterminate {
          color: theme.$dnm-indeterminate-color;
        }

        font-size: 0.98em;
        padding: 0.28em;
      }
    }
  }
}
