@use "sass:color";
@use "../theme.scss";
@use "../variable.scss";
@use "../common/mixins.scss";


#notification-action-buttons {
  button {
    background-color: theme.$accent-color;
    color: theme.$text-on-accent;
    padding: 8px;
    margin-top: 8px;

    &:hover,
    &:active {
      background-color: theme.$accent-color;
    }

    &.action {
      border-radius: variable.$radius;
    }
  }
}

#notify-close-button {
  border-radius: variable.$radius-large;
  padding: 3px;

  &:hover {
    box-shadow: none;
    border: none;
    background-color: theme.$accent-color;
    transition: background 0.15s ease-in-out;

    .close-icon {
      @extend %clear_icon;
      color: theme.$text-on-accent;
    }
  }
}

#notification-urgency-line {
  background-color: theme.$accent-success;
  border-radius: 2px;
  min-height: 4px;
  margin: 0 2rem 0px 2rem;

  &.low-urgency {
    background: theme.$accent-success;
  }

  &.normal-urgency {
    background: theme.$accent-success;
  }

  &.critical-urgency {
    background: theme.$accent-warning;
  }
}

#close-label {
  color: theme.$text-color;
}


#notification-image {
  image {
    border-radius: 16px;
  }
}

#notification-title,
#button-label {
  font-weight: bold;
}

#notification-title {
  font-weight: bold;
  color: theme.$text-color;
}

#notification-app-name {
  color: theme.$text-color;
}

#notification-text {
  color: theme.$text-color;
}
