@use "sass:color";
@use "../theme.scss";
@use "../variable.scss";
@use "../common/mixins.scss";


#notification-action-buttons {
  button {
    background-color: theme.$notify-action-btn-color;
    padding: 8px;
    margin-top: 8px;

    &:hover {
      background-color: theme.$notify-action-btn-hover-color;
    }

    &:active {
      background-color: theme.$notify-action-btn-active-color;
    }

    &.action {
      border-radius: 10px;
    }
  }
}

#notify-close-button {
  border-radius: variable.$radius-large;
    padding: 3px;

    &:hover {
      box-shadow: none;
      border: none;
      background-color: theme.$notify-close-btn-color-hover;
      transition: background 0.15s ease-in-out;

      .close-icon {
        @extend %clear_icon;
      }
    }
}

#notification-urgency-line {
  background-color: theme.$notify-low-urgency-color;
  border-radius: 2px;
  min-height: 4px;
  margin: 0 2rem 0px 2rem;

  &.low-urgency {
    background: theme.$notify-low-urgency-color;
  }

  &.normal-urgency {
    background: theme.$notify-normal-urgency-color;
  }

  &.critical-urgency {
    background: theme.$notify-critical-urgency-color;
  }
}

#close-label {
  color: theme.$notify-close-btn-label-color
}


#notification-image {
  image {
    border-radius: 16px;
  }
}

#notification-title,
#button-label {
  font-weight: bold;
}

#notification-title {
  font-weight: bold;
  color: theme.$notify-title-color;
}

#notification-app-name {
  color: theme.$notify-app-name-color;
}

#notification-text {
  color: theme.$notify-text-color;
}
