@use "sass:color";
@use "../theme.scss";

#power-menu-button {
  border-radius: 10px;
  padding: 15px;

  label {
    font-size: 24px;
    color: theme.$power-menu-icon-color;
  }

  &:hover,
  &:focus {
    background-color: theme.$power-menu-btn-hover;

    label {
      color: theme.$power-menu-btn-icon-hover;
    }
  }

  &:active {
    background-color: theme.$power-menu-btn-active;

    label {
      color: theme.$power-menu-btn-icon-active;
    }
  }
}
