/* Accent Colors */
$accent-light: #f5e0dc; // Lightest accent (Rosewater)
$accent-pink: #f5c2e7; // Pink accent
$accent-purple: #cba6f7; // Mauve accent
$accent-red: #f38ba8; // Red for errors and warnings
$accent-orange: #fab387; // Orange for warnings and alerts
$accent-yellow: #f9e2af; // Yellow for highlights
$accent-green: #a6e3a1; // Green for success
$accent-teal: #94e2d5; // Teal for information
$accent-blue: #89b4fa; // Blue for links and actions
$accent-light-blue: #89dceb; // Sky blue accent
$accent-lavender: #b4befe; // Lavender for subtle highlights


/* Base Colors */
$background: #1e1e2e; // Main background
$background-alt: #181825; // Secondary background
$background-dark: #11111b; // Darkest background
$bar-background: rgba(46, 46, 46, 0); // Bar background
$shadow-color: rgba(0, 0, 0, 0.6);
$scrollbar-color: $background-alt;
$scrollbar-slider-color: $accent-lavender;

/* Text Colors */
$text-main: #cdd6f4; // Primary text color
$text-secondary: #bac2de; // Secondary text color
$text-muted: #a6adc8; // Tertiary text, muted

/* Surface Colors */
$surface-disabled: #313244; // Background for disabled items
$surface-neutral: #45475a; // Neutral surface for cards, panels
$surface-highlight: #585b70; // Selection and highlights

/* Overlay Colors */
$text-disabled: #6c7086; // Text for disabled elements
$text-muted-light: #7f849c; // Light-muted text for hints
$text-muted-dark: #9399b2; // Dark-muted text


/* ------------------ Screen Corners ---------------------- */
$screen-corners: #000000;

/* ------------------ Workspace Switcher ---------------------- */
$ws-active: $text-muted;
$ws-hover: $accent-pink;

/* ------------------ Power Menu ---------------------- */
$power-menu-icon-color: $text-main;
$power-menu-btn-hover: $accent-lavender;
$power-menu-btn-icon-hover: $background-dark;
$power-menu-btn-active: $accent-pink;
$power-menu-btn-icon-active: $background-dark;

/* ------------------ Notifications ---------------------- */
$notify-title-color: $text-main;
$notify-app-name-color: $text-main;
$notify-text-color: #ffffff;

$notify-action-btn-color: $accent-lavender;
$notify-action-btn-hover-color: $accent-lavender;
$notify-action-btn-active-color: $background;
$notify-action-btn-label-color: $background-dark;

$notify-close-btn-label-color: $text-main;
$notify-close-btn-color-hover: $surface-disabled;

$notify-low-urgency-color: $surface-disabled;
$notify-normal-urgency-color: $surface-disabled;
$notify-critical-urgency-color: $accent-orange;

/* ------------------ Date Notification Menu ---------------------- */
$dnm-dnd-switch: lighten($background, 10%);
$dnm-dnd-switch-circle: $text-main;
$dnm-dnd-switch-active: $accent-lavender;
$dnm-dnd-switch-circle-active: $background;

$dnm-clear-btn: $background;
$dnm-clear-btn-hover: $background-alt;

$dnm-separator-color: $accent-lavender;

$dnm-clock-color: $text-main;
$dnm-uptime-color: $text-muted;

$dnm-calendar-background: $background-alt;

$dnm-month-year-color: $accent-lavender;
$dnm-weekdays-color: $accent-lavender;

$dnm-arrow-button-color: $text-main;
$dnm-arrow-button-hover-color: $accent-lavender;

$dnm-selected-color: $text-main;
$dnm-selected-highlight-color: $accent-lavender;

$dnm-indeterminate-color: $surface-disabled;

$dnm-notify-history-element-bg: $background-alt;
$dnm-notify-history-summury-color: $text-main;
$dnm-notify-history-text-color: $text-main;
$dnm-notify-history-close-btn-hover-color: $surface-disabled;

$dnm-notify-low-urgency-border-color: $surface-disabled;
$dnm-notify-normal-urgency-border-color: $surface-disabled;
$dnm-notify-critical-urgency-border-color: $accent-orange;


/* ------------------ Bluetooth Menu ---------------------- */
$bluetooth-title: $text-main;

$bluetooth-device-color: $background;
$bluetooth-scan-background: $background;
$bluetooth-scan-text-color: $text-main;

$bluetooth-toggle-background: $accent-pink;
$bluetooth-toggle-text-color: $background-dark;
$bluetooth-toggle-active-background: $accent-green;
$bluetooth-toggle-active-text-color: $background-dark;

$bluetooth-connect-background: $background-alt;
$bluetooth-connect-text-color: $text-main;


/* ------------------ App Launcher ---------------------- */
$app-l-item-label: $text-main;
$app-l-item-focus: $accent-lavender;
$app-l-item-focus-label: $background-dark;


/* ------------------ Wallpapers ---------------------- */
$wallpapers-item-focus: $accent-lavender;

$wallpapers-search-bg: $background;
$wallpapers-search-label: $text-main;

$wallpapers-search-focus: $accent-lavender;
$wallpapers-search-label-focus: $background;


/* ------------------ OCR ---------------------- */
$ocr-hover-bg: $background;
$ocr-text-color: $surface-neutral;
$ocr-active-text-color: $accent-lavender;


/* ------------------ Bluetooth Menu ---------------------- */
$bluetooth-title: $text-main;

$bluetooth-device-color: $background;
$bluetooth-scan-background: $background;
$bluetooth-scan-text-color: $text-main;

$bluetooth-toggle-background: $accent-pink;
$bluetooth-toggle-text-color: $background-dark;
$bluetooth-toggle-active-background: $accent-green;
$bluetooth-toggle-active-text-color: $background-dark;

$bluetooth-connect-background: $background-alt;
$bluetooth-connect-text-color: $text-main;

/* ------------------ Network Menu ---------------------- */
$network-title: $text-main;

// toggle view btn
$network-toggle-view-btn-bg: $background;
$network-toggle-view-btn-label: $text-main;

// refresh btn
$network-refresh-btn-bg: $background;
$network-refresh-btn-label: $text-main;

// toggle btn
$network-toggle-btn-bg: $accent-pink;
$network-toggle-btn-label: $background-dark;
$network-toggle-btn-active-bg: $accent-green;
$network-toggle-btn-active-label: $background-dark;

// network slot
$network-slot-bg: $background;
$network-slot-connected: $accent-lavender;

$network-slot-forget-btn-bg: $background-alt;
$network-slot-forget-btn-label: $text-main;
$network-slot-forget-btn-label-hover: $accent-red;

$network-slot-connect-btn-bg: $background-alt;
$network-slot-connect-btn-label: $text-main;
$network-slot-connect-btn-label-hover: $accent-green;

$network-slot-disconnect-btn-bg: $background-alt;
$network-slot-disconnect-btn-label: $text-main;
$network-slot-disconnect-btn-label-hover: $accent-red;

$network-slot-password-entry-bg: $surface-disabled;
$network-slot-confirm-btn-bg: $background-alt;